<center><h5><%=first_name%> <%=last_name%></h5><br><br>
<h3><%=num1%> <%=function%> <%=num2%> = <%=answer%></h3><br><br>

<form method= "post" action= "wayback">
	<input type="hidden" name="first_name" value = "<%=first_name%>">
	<input type="hidden" name="last_name" value = "<%=last_name%>">

<input type= "submit" value= "redo">

</form></center>
